annoy==1.17.1
faiss==1.5.3
flair==0.12.1
langchain==0.0.27
neuralcoref==4.0
nltk==3.8.1
openai==0.26.5
scikit_learn==1.2.2
sentence_transformers==2.2.2
spacy==3.2.0
stanfordnlp==0.2.0
textacy==0.11.0
torch==1.11.0
transformers==4.20.1
